<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mit bibliotek{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
            <style>
                header { border-bottom: 1px solid #ebebeb; }
                header h1 {text-align: center}

                #books {
                    margin:50px 0;
                }

                .card {
                    position: relative;
                    text-align: center;
                    border: 2px solid hsla(0, 0%, 80%, 0.5);
                }

                .card > .overlay {
                    padding:20px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: hsla(0, 0%, 80%, 0.8);
                }

                .overlay > p {
                    margin-top:5px;
                    font-size:12px;
                    max-height: 200px;
                    overflow: hidden;
                }

                .item-inner {
                    padding:10px;
                }

                .item-inner > h4 {
                    max-width: 150px;
                    min-height: 50px;
                }
            </style>
            {% block styles %}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <header class="row">
                <h1>
                    Mit bibliotek
                    {% block logout %}
                    <span class="pull-right">
                        <a href="{{ path('logout') }}">Logout</a>
                        {% if is_granted('ROLE_ADMIN') %} | <a href="{{ path('admin_index') }}">Admin</a> | <a href="{{ path('homepage') }}">Home</a> {% endif %}
                    </span>
                    {% endblock %}
                </h1>
            </header>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% block scripts %}
            {% endblock %}
        {% endblock %}
    </body>

</html>
