<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <style>
                header { border-bottom: 1px solid #ebebeb; }
                header > h1 {text-align: center}
            </style>
            {% block styles %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Mit bibliotek</h1>
            </header>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% block scripts %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
